@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: goldenrod;
    height:100%;
    font-family: 'Lobster', cursive !important;
}

.link{
    font-family: 'Lobster', cursive;
} 
.text{
    font-family: 'Lobster', cursive;
    padding-left:60px;
    text-decoration:underline;
}
.texttwo{
    font-family: 'Lobster', cursive;
    padding-left:250px;
    text-decoration:underline;
}
.vertical { 
    border-left: 1px solid darkgoldenrod; 
    height: 300px; 
    position:absolute; 
    left: 38%; 
    top:35%;
}
.col-md-12{
    padding-left:400px;
}
.block{
    width:80%;
    height: 400px;
    background: rgba(255,255,255,.2);
    margin:auto;
    margin-bottom:60px;
    position:relative;
    margin-top: -40px;
    margin-left: -5px;
    box-shadow: 5px 10px 8px black;
    position: relative;
    bottom: 0;
    left: 10%;
    z-index:10;
    content: '';
    display: block;
}
.text{
    padding-top: 3px !important;
    padding-left: 50px !important;
    padding-bottom: 50px !important; 
}
.block-header{
    padding-top: 30px;
    padding-left: 450px;
    color: black;
}